@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
    background-color: #d9d9d9;
    padding: 2px 5px;
    color: #4d5566;
    font-weight: 700;
    font-size: 20px;
  }
  
  td.col {
    border: 1px solid #acacac;
    padding: 0px 4px;
  }